.column {
	position: relative;
	margin-top: 25px;
	min-height: 300px;
}
.column caption {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	z-index: 1;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	cursor: default;
}
.column caption:first-child {
	margin-top: 0px;
}
.column caption span {
	display: inline-block;
	box-sizing: border-box;
	width: 160px;
	margin-top: 5px;
	margin-left: 80px;
	border-left: 1px solid rgb(175, 175, 175);
	border-right: 1px solid rgb(175, 175, 175);
	text-align: center;
}
.column caption:before,
.column caption:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 21px;
	border-bottom: 1px solid rgb(175, 175, 175);
}
.column caption:before {
	left: 0px;
	width: 80px;
}
.column caption:after {
	left: 240px;
	right: 35px;
}
.column caption .controller {
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: 3px;
	right: 0px;
	width: 35px;
}
.column caption .controller .hint,
.column caption .controller .styleItem {
	display: block;
	box-sizing: border-box;
	width: 35px;
	height: 36px;
	text-align: center;
	cursor: pointer;
}
.column caption .controller .hint i,
.column caption .controller .styleItem i {
	pointer-events: none;
}
.column caption .controller .hint {
	position: relative;
	border-radius: 5px;
	padding: 6px 4px 5px 6px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
	transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, border-radius 300ms ease-in-out;
}
.column caption .controller:hover .hint {
	border-radius: 10px 10px 0px 0px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.6), inset 0px 0px 0px 1px rgba(127, 127, 127, 0.6);
}
.column caption .controller .styleList {
	position: absolute;
	box-sizing: border-box;
	top: 36px;
	width: 35px;
	height: 0px;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
	opacity: 0;
	overflow: hidden;
	transition: height 300ms ease-in-out, box-shadow 300ms ease-in-out, opacity 300ms ease;
}
.column caption .controller:hover .styleList {
	height: 113px;
	box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.6), inset 0px 0px 0px 1px rgba(127, 127, 127, 0.6);
	opacity: 1;
}
.column caption .controller .styleItem {
	padding: 6px 5px 5px 5px;
	transition: color 300ms ease-in-out;
}
.column caption .controller .styleItem:hover {
	color: rgb(194, 31, 48);
}
.column header {
	width: 100%;
}
.column header:empty {
	display: none;
}
.column header article section {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(192, 196, 195);
}
.column header article section:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.column header article section h1 {
	margin-top: 20px;
}
.column header article section h2 {
	margin-top: 15px;
}
.column header article section h3 {
	margin-top: 10px;
}
.column header article section h4,
.column header article section h5,
.column header article section h6 {
	margin-top: 5px;
}
.column .column-item {
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(33, 30, 85, 0.15);
	cursor: pointer;
}
.column .column-item header {
	display: block;
	margin-bottom: 10px;
}
.column .column-item header .title {
	display: inline-block;
	font-size: 18px;
	font-weight: bolder;
}
.column .column-item header .category {
	float: right;
	display: inline-block;
	font-size: 14px;
	font-weight: bolder;
}
.column .column-item article {
	margin: 5px 0px;
	font-size: 16px;
	font-family: "仿宋", serif;
}
.column .column-item footer {
	box-sizing: border-box;
	display: block;
	padding-right: 10px;
	text-align: right;
	font-size: 14px;
	pointer-events: none;
}
.column .column-item footer .author {
	display: inline-block;
	margin-right: 20px;
}
.column .column-item footer .timestamp {
	display: inline-block;
}
.column .column-item footer .timestamp:before {
	content: '发表于';
	display: inline-block;
	margin-right: 5px;
}
.column[columnstyle="bars"] caption {
	margin-bottom: 20px;
}
.column[columnstyle="bars"] .column-item {
	height: 32px;
	max-width: 960px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.column[columnstyle="bars"] .column-item header {
	display: inline-block;
	position: absolute;
	left: 20px;
	right: 225px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: normal;
	word-spacing: normal;
	white-space: nowrap;
}
.column[columnstyle="bars"] .column-item header .title {
	display: inline;
	font-size: 16px;
}
.column[columnstyle="bars"] .column-item header .category {
	float: unset;
	display: inline;
	margin-left: 10px;
}
.column[columnstyle="bars"] .column-item header .category:before {
	content: '(';
}
.column[columnstyle="bars"] .column-item header .category:after {
	content: ')';
}
.column[columnstyle="bars"] .column-item article {
	display: none;
}
.column[columnstyle="bars"] .column-item footer {
	display: inline-block;
	float: right;
	margin-top: 5px;
	padding-right: 0px;
}
.column[columnstyle="bars"] .column-item footer .timestamp:before {
	display: none;
}
.column[columnstyle="columns"] {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	margin-top: 5px;
}
.column[columnstyle="columns"] .column-item {
	box-sizing: border-box;
	flex: 0.1 0.1 49%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid rgba(48, 47, 75, 0.8);
	border-radius: 15px;
	transition: box-shadow 300ms ease-in-out;
}
.column[columnstyle="columns"] .column-item:hover {
	box-shadow: 3px 3px 8px rgba(8, 8, 8, 0.5);
}
.column[columnstyle="columns"] .column-item header .title {
	display: inline;
}
.column[columnstyle="columns"] .column-item header .category {
	display: inline;
	margin-right: 15px;
}