.column {
	position: relative;
	margin-top: 25px;
	min-height: 300px;
}
.column caption {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	cursor: default;
}
.column caption:first-child {
	margin-top: 0px;
}
.column caption span {
	display: inline-block;
	width: 160px;
	margin-top: 5px;
	margin-left: 80px;
	border-left: 1px solid rgb(175, 175, 175);
	border-right: 1px solid rgb(175, 175, 175);
	text-align: center;
}
.column caption:before,
.column caption:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 21px;
	border-bottom: 1px solid rgb(175, 175, 175);
}
.column caption:before {
	left: 0px;
	width: 80px;
}
.column caption:after {
	left: 240px;
	right: 0px;
}
.column header:empty {
	display: none;
}
.column header article section {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(192, 196, 195);
}
.column header article section:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.column header article section h1 {
	margin-top: 20px;
}
.column header article section h2 {
	margin-top: 15px;
}
.column header article section h3 {
	margin-top: 10px;
}
.column header article section h4,
.column header article section h5,
.column header article section h6 {
	margin-top: 5px;
}
.column .column-item {
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(33, 30, 85, 0.15);
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.column .column-item:hover {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.column .column-item header {
	display: block;
	margin-bottom: 10px;
}
.column .column-item header .title {
	display: inline-block;
	font-size: 18px;
	font-weight: bolder;
}
.column .column-item header .category {
	float: right;
	display: inline-block;
	font-size: 14px;
	font-weight: bolder;
}
.column .column-item article {
	margin: 5px 0px;
	font-size: 16px;
	font-family: "仿宋", serif;
}
.column .column-item footer {
	box-sizing: border-box;
	display: block;
	padding-right: 10px;
	text-align: right;
	font-size: 14px;
	pointer-events: none;
}
.column .column-item footer .author {
	display: inline-block;
	margin-right: 20px;
}
.column .column-item footer .timestamp {
	display: inline-block;
}
.column .column-item footer .timestamp:before {
	content: '发表于';
	display: inline-block;
	margin-right: 5px;
}