.crumb {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}
.crumb span {
	cursor: pointer;
	color: rgb(55, 60, 56);
	transition: color 300ms ease-in-out;
}
.crumb span:hover {
	color: rgb(0, 92, 175);
}
.crumb i.fas {
	margin-left: 5px;
	margin-right: 5px;
}
.crumb span.hint,
.crumb i.fas {
	cursor: default;
	pointer-events: none;
}
.crumb i:last-child {
	display: none;
}