html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	background-color: rgb(228, 223, 215);
	font-family: songti, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: rgb(55, 60, 56);
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: rgb(36, 134, 185);
}

.fa.fa-faster,
.fas.fa-faster,
.far.fa-faster,
.fab.fa-faster {
	-webkit-animation-duration: 1.0s;
	animation-duration: 1.0s;
}
.fa.fa-fast,
.fas.fa-fast,
.far.fa-fast,
.fab.fa-fast {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.fa.fa-slow,
.fas.fa-slow,
.far.fa-slow,
.fab.fa-slow {
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
}
.fa.fa-slower,
.fas.fa-slower,
.far.fa-slower,
.fab.fa-slower {
	-webkit-animation-duration: 3.0s;
	animation-duration: 3.0s;
}

.masker {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 0%;
	z-index: 500;
	background-color: rgba(62, 56, 65, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease-in-out;
}
.masker.show {
	height: 100%;
	opacity: 1;
	pointer-events: all;
}

#app {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}

#container {
	box-sizing: border-box;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 25px;
}
@media screen and (max-width: 1100px) {
	#container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 1000px) {
	#container {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
#container > div {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.loading,
.imageShowcase {
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 32px;
	font-weight: bold;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}
.loading.hide,
.imageShowcase.hide {
	opacity: 0;
	pointer-events: none;
}

.loading {
	z-index: 200;
	background-color: rgba(45, 12, 19, 0.3);
}
.loading .hint {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.loading .hint .animate {
	font-size: 50px;
	margin-bottom: 20px;
}
.loading .hint .animate.pulse {
	margin-bottom: 40px;
}
.loading .hint .animate.pulse .fas {
	font-size: 15px;
	margin-left: 2px;
	margin-right: 2px;
	transform: scale(1, 3);
	animation: loading-pulse 1.5s infinite linear;
}
.loading .hint .animate.pulse .fas:first-child {
	animation-delay: 0ms;
}
.loading .hint .animate.pulse .fas:nth-child(2) {
	animation-delay: 200ms;
}
.loading .hint .animate.pulse .fas:nth-child(3) {
	animation-delay: 400ms;
}
.loading .hint .animate.pulse .fas:nth-child(4) {
	animation-delay: 600ms;
}
.loading .hint .animate.pulse .fas:nth-child(5) {
	animation-delay: 800ms;
}
.loading .forceQuit {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 20px;
	color: rgba(237, 227, 231, 0.6);
	background-color: rgba(23, 23, 23, 0.6);
	cursor: pointer;
}

.imageShowcase {
	z-index: 120;
	background-color: rgba(45, 12, 19, 0.7);
}
.imageShowcase .imageFrame {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.imageShowcase .imageFrame .imagePage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: left 300ms ease-in-out;
}
.imageShowcase .imageFrame .imagePage .imageInstance {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.imageShowcase .imageFrame .imagePage .imageLegend {
	position: absolute;
	min-width: 100px;
	max-width: 80%;
	word-break: break-word;
	white-space: normal;
	left: 50%;
	bottom: 10px;
	padding: 5px 10px;
	transform: translateX(-50%);
	border-bottom: 1px solid rgb(189, 192, 186);
	font-size: 20px;
	color: rgb(215, 196, 187);
	text-shadow: 1px 1px 3px rgba(85, 66, 54, 0.6);
	text-align: center;
}
.imageShowcase .imageButton {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	font-size: 80px;
	color: rgb(93, 172, 129);
	opacity: 0.6;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}
.imageShowcase .imageButton[inactive="true"] {
	opacity: 0 !important;
	pointer-events: none;
}
.imageShowcase .imageButton:hover {
	opacity: 1;
}
.imageShowcase .imageButton.left {
	left: 10px;
}
.imageShowcase .imageButton.right {
	right: 10px;
}
.imageShowcase .imageButton.close {
	top: 35px;
	right: 20px;
	margin-top: 0px;
	font-size: 30px;
}

.backer {
	display: none;
}

@-webkit-keyframes loading-pulse {
	0% {
		transform: scale(1, 3);
	}
	50% {
		transform: scale(0.6, 6);
	}
	100% {
		transform: scale(1, 3);
	}
}
@keyframes loading-pulse {
	0% {
		transform: scale(1, 3);
	}
	50% {
		transform: scale(0.6, 6);
	}
	100% {
		transform: scale(1, 3);
	}
}